@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
  padding-top: 80px;
  line-height: 1.5em;
  background-color:#F5F5EF;
  font-family: "Comfortaa";
  font-size: 22px;
}
.cabeza{
  text-align: center;
  height: 300px;
  padding:12px;
  background-color:#B4CDB4;
}
.avatar{
  width: 200px;
  height: 200px;
  border-radius:50%;
}
.nomusuario{
  font-size: 18px;
  margin-top: 14px;
}
.cont{
  align-self: auto;
  text-align: center;
}
#main-header {
	background: #E9B7B5;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header {
	background: #E9B7B5;
	color: white;
	height: 80px; }
#main-header a {color: white;}
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none; }
#logo-header:hover {color: #FADFDD;}
#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em; }
#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #FADFDD; }

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	nav ul li {
		display: inline-block;
		line-height: 80px;
	}
	nav ul li a {
		display: block;
		padding: 0 10px;
		text-decoration: none;
	}
	nav ul li a:hover {
		background: #FADFDD;
 }
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
}
#main-content header,
#main-content .content {
		padding: 40px;
}

.boton {
border: 1px solid #E9B7B5; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #E9B7B5; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}
