@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
    background-image: url("../IMG/pantalla.png");
    
	padding: 0;
	font-family: "Comfortaa";
	color: white;
	
	font-size: 22px;
	line-height: 1.5em;
	padding-top: 0px;
        background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*titulo y eslogan*/
.background_intro{
  font-family: "Comfortaa";
  background-size: cover;
   height: 100%;
   width: auto;
   margin-left: -10px;
   margin-right: -10px;
}

.h1_title{
  font-size: 500%;
  color: white;
  font-family: "Comfortaa";
  padding-top: 20%;
}

.text_title{
  font-size: 200%;
  color: white;
  font-family: "Comfortaa";
  padding-bottom: 20%;
  margin-bottom: 10px;
  line-height: 50px;
}

/*Misión y visión*/
.titulo_mv{
  font-family: "Comfortaa";
  color: #666;
  font-size: 300%;
}

.text_mv{
  font-family: "Comfortaa";
  font-size: 130%;
  color: #666;
}
.column {
  float: left;
  width: 35%;
  padding-left: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*filosofía*/

.img_filo {
  flex: 50%;
  max-width: 45%;
  padding: 0 4px;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .img_filo {
    flex: 50%;
    max-width: 50%;
  }
}

.contenedor{
  position: relative;
}

.filo_box{
  position: absolute;
  background-color: #5C677D;
  opacity: 0.9;
  color: black;
  height: 55%;
  width: 50%;
  display: inline-block;
  text-align: center;
  top: 20%;
  left: 25%;
  text-shadow: #1B1D22;
}

.filo_title{
font-size: 300%;
font-family: Garamond;
color: #1B1D22;
}

.filo_text{
  font-size: 130%;
  font-family: Garamond;
  color: #1B1D22;
  opacity: 100;
}

.filo_box > img{
    display: block;
}

@media screen and (max-width: 800px) {
  .filo_box{
    flex: 50%;
    max-width: 50%;
  }
}
/*Texto e img objetivo*/
.imgVal{
  width: 50%;
  height: auto;
}
.textVal{
  font-family: Garamond;
  font-size: 130%;
  color: #BBC0C9;
  margin-left: -30%;
}

.txtObj{
  font-family: Garamond;
  font-size: 130%;
  color: white;
  margin-left: 1%;
}

/*Valores*/
.textVal1{
  font-family: Garamond;
  font-size: 150%;
  text-align: center;
  color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
}

.grid-title{
  font-size: 160%;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  color: #BBC0C9;
}

.grid-text{
  font-size: 120%;
  font-family: Garamond;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  color: #BBC0C9;
}

i {
  background: #9B8C59;
  border-radius: 10%;
  font-size: 10%;
  text-align: center;
  border-radius: 50%;
  display:inline-block;
  padding: 7%;
}

.icon {
  display:block;
  width: 50px;
  height: auto;
}

/*politicas*/
.container3{
  padding-left: 10%;
  padding-right: 10%;
}

.textPol{
  font-family: Garamond;
  font-size: 120%;
  color: #BBC0C9;
}

/*Footer*/
.footer {
   position: relative;
   width: 100%;
   height: 30%;
   background-color: #C0C8C5;
   margin-left: -10px;
   margin-bottom: -10px;
   padding-right: 20px;
   margin-top: -10px;
}
#contenedor{
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#D1{ float: left; }
#D2{ float:left; }
#D3{ float: left; }

#img{
  width: 300px;
  height: 300px;
	margin-right: 15px;
}
#img:hover {filter: opacity(.5);}

#main-header {
	background: #E9B7B5;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header {
	background: #E9B7B5;
	color: white;
	height: 80px;
}
#main-header a {color: white;}
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none; }
#logo-header:hover {color: #FADFDD;}
#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em; }
#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #FADFDD; }
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	nav ul li {
		display: inline-block;
		line-height: 80px;
	}
	nav ul li a {
		display: block;
		padding: 0 10px;
		text-decoration: none;
	}
	nav ul li a:hover {
		background: #FADFDD;
 }
 #contenido{
     background-color: white;
     color: #666;
     height: 300px;
     padding-left: 0 !important;
  display: flex;
  width: 100% !important;
  position: relative;
  margin-left: -8px;
  height: 100%;
   padding-right: 20px;
   margin-bottom:-20px;
   padding-bottom: 20px;
 }
 #contenido p{
 	font-size: 15px;
 }
.izquierdo{
     width: 40%;
     padding-top: 10px;
     padding-bottom: 20px;
     padding-left:80px;
     text-align: justify;
     float: left;
 }
 .menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.derecho{
    float:right;
    display:inline-block;
    width: 40%;
     padding-top: 10px;
     padding-bottom: 20px;
     padding-right: 50px;
     padding-left:130px;
     text-align: justify;
}
#cont{
    background-color: white;
    color: #666;
    height: 100%;
    position: relative;
  margin-left: -8px;
  height: 100%;
   padding-right: 30px;
   margin-bottom:-20px;
   padding-bottom: 20px;
   width: 100% !important;
   padding-top:20px;
}
.imagen{
    
    height:190px;
	padding-left:120px;
        float: right;
	
}
article{
    display: flex;
  width: 100% !important;
  position: relative;
}
.subtitulo{
    font-size: 34px;
    color:#AAB7AE;
   text-decoration: none;
   
}
.subtitulo:hover{
    color:#DBBEAE;
    
}

