@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: "Comfortaa";
	color: #666;
	background: white;
	font-size: 22px;
	line-height: 1.5em;
	padding-top: 80px; 
}
#menu{
	align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 400px;
  background: #C2DDC3;
  color: #333;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
p {
	margin: auto;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
}
#tabla1 {
  border-collapse: collapse;
	text-align: justify;
  align: center;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#tabla1 td, #tabla1 th {
  border: 2px solid #93939B;
  padding: 8px;
}
#tabla1 tr:nth-child(even){background-color: #C2DDC3;}
#tabla1 tr:hover {background-color: #FFECEB;}
#tabla1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #C2DDC3;
  color: white;
}

#main-header {
	background: #E9B7B5;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header {
	background: #E9B7B5;
	color: white;
	height: 80px; }
#main-header a {color: white;}
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none; }
#logo-header:hover {color: #FADFDD;}
#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em; }
#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #FADFDD; }

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	nav ul li {
		display: inline-block;
		line-height: 80px;
	}
	nav ul li a {
		display: block;
		padding: 0 10px;
		text-decoration: none;
	}
	nav ul li a:hover {
		background: #FADFDD;
 }

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
}
#main-content header,
#main-content .content {
		padding: 40px;
}
.links{
	color:white;
	text-decoration:none;
}
.links:hover{
	color:#faebd6;
	text-decoration:none;
}
