<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ActualizarUsr</servlet-name>
        <servlet-class>com.Controlador.ActualizarUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifCamEm</servlet-name>
        <servlet-class>com.Controlador.ModifCamEm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifSintomasEm</servlet-name>
        <servlet-class>com.Controlador.ModifSintomasEm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsr</servlet-name>
        <url-pattern>/ActualizarUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifCamEm</servlet-name>
        <url-pattern>/ModifCamEm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifSintomasEm</servlet-name>
        <url-pattern>/ModifSintomasEm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
